body
{
    background-color: rgb(248, 253, 169);
}

P

{
color: orangered;
font-size: 20pt;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol

{
    color: orange;
    font size: 18;
}

ul

{
    color: orange;
    font size: 18;
}