body
{
  background-image: url("mtb.jpg");
  background-position: center top;
}

P

{
color: orangered;
font-size: 19pt;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol

{
    color: orange;
    font size: 16pt;
}

ul

{
    color: orange;
    font size: 16pt;
}
